<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>投稿詳細画面</title>
	</head>
	<body>
		<th:block th:object="${reportData}">
			<p th:text="*{id}">
			<p th:text="*{content}">
		</th:block>
		<th:block th:object="${commentList}">
			<table border="1">
				<tr>
					<th>返信内容</th>
					<th>返信編集画面へ</th>
					<th>返信削除</th>
				</tr>
				<tr th:each="comment : ${commentList}">
					<td th:text="${comment.content}"></td>
					<td>
						<a th:href="@{/comment/{id}(id=${comment.id})}">
							<button>返信内容編集</button>
						</a>
					</td>
					<td>
						<form th:action="@{/comment/delete/{id}(id=${comment.id})}" th:method="delete">
							<input type="submit" value="返信削除">
						</form>
					</td>
				</tr>
			</table>
		</th:block>
		<th:block>
			<form th:method="post" action="/comment" th:object="${commentData}">
				<input type="text" th:field="*{content}" size="20" maxlength="200" />
				<input type="hidden" name="reportId" th:value ="${reportData.id}" />
				<input type="submit" value="返信">
			</form>
		</th:block>
		<a href="/"><button>TOPへ戻る</button></a>
	</body>
</html>