<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>TOP</title>
	</head>
	<body>
		<div>
			<form action="./" method="get">
				日付：
				<input type="date" name="startDate" th:value="${startDate}">
				～
				<input type="date" name="endDate" th:value="${endDate}">
				<button type="submit">絞込</button>
			</form>
		</div>
		<a href="/new"><button type="button">新規投稿</button> </a>
		<p>更新順（コメント追加更新も含む）</p>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>内容</th>
				<th>編集ボタン</th>
				<th>削除ボタン</th>
				<th>投稿詳細</th>
			</tr>
			<tr th:each="content : ${contents}">
				<td th:text="${content.id}"></td>
				<td th:text="${content.content}"></td>
				<td>
					<a th:href="@{/edit/{id}(id=${content.id})}">
						<button>編集画面へ</button>
					</a>
				</td>
				<td>
					<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
						<input type="submit" value="削除">
					</form>
				</td>
				<td>
					<a th:href="@{/detail/{id}(id=${content.id})}">
						<button>詳細画面</button>
				</td>
			</tr>
		</table>
	</body>
</html>